deploy:
  stage: deploy
  script:
    - cd /home/dalphi/services/ner_iterate_python
    - git pull
    - sudo systemctl stop service-ner_iterate_python_synchronous.service
    - sudo systemctl start service-ner_iterate_python_synchronous.service
    - sudo systemctl stop service-ner_iterate_python_asynchronous.service
    - sudo systemctl start service-ner_iterate_python_asynchronous.service
  only:
    - master
  tags:
    - dalphi
